$grey: #f7fbfc;
$lightBlue: #d6e6f2;
$midBlue: #b9d7ea;
$darkBlue: #769fcd;
$sun: #ffea00;
$cubeWidth: 50%;
$cubeHeight: 40vw;
$cubeShadowHeight: 1.5;

html {
  scroll-behavior: smooth;
  theme-color: $lightBlue;
}

body {
  margin: 0;
  padding: 0;
}

svg {
  width: 0;
  height: 0;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  }

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
/*begining of cube*/
@mixin corner($floatVar) {
  border-style: solid;
  border-width: $cubeShadowHeight + 0vw $cubeShadowHeight + 0vw;
  float: $floatVar;
}

.entire-content {
  position: relative;
  overflow-x: hidden;
}

.cube-left {
  width: $cubeShadowHeight*2 + 0%;
  height: $cubeHeight;
  background-color: white;
  float: left;

  .top-left-corner {
    border-left: white;
    border-top: white;
    border-bottom: $midBlue;
    border-right: $midBlue;
    float: left;
    @include corner(left);
  }

  .left-bar {
    background-color: $midBlue;
    height: $cubeHeight;
    width: 100%;
  }
}

.cube-mid {
  width: 100- $cubeWidth -3*$cubeShadowHeight;
  height: $cubeHeight;
  float: left;
  background-color: $darkBlue;
  border-bottom:2px solid black;

  .cube-content {
    margin-left: -50%;

    h1 {
      line-height: $cubeHeight/3;
      color:white;
    }
  }
}

.bottom {
  width: $cubeWidth -$cubeShadowHeight;
  float: left;
  margin-left:-.25px;
  background-color: $darkBlue;

  .bottom-left-corner {
    border-left: white;
    border-top: white;
    border-bottom: $darkBlue;
    border-right: $darkBlue;
    @include corner(left);
    //the bottom bar is a little off without this
  }
  .far-right-corner {
    border-left: $midBlue;
    border-top: $midBlue;
    border-bottom: $lightBlue;
    border-right: $lightBlue;
    @include corner(right);
  }
}
.bottom-right-corner {
  border-left: $darkBlue;
  border-top: $darkBlue;
  border-bottom: $midBlue;
  border-right: $midBlue;
  @include corner(left);
}

/*end of cube*/
$navSpeed: .5s;
.right-of-cube {
  width: $cubeWidth + $cubeShadowHeight;
  background-color: $darkBlue;
  height: $cubeHeight;
  float: left;
  border-bottom:2px solid black;

  a{
    color:black;
    text-decoration: none;
    }

  .nav{
    width:99%;
    height:99.5%;
    float:right;
    position:relative;
    margin-top:$cubeShadowHeight*2vw;

    .one-nav-block{
      width:50 +$cubeShadowHeight *2 + 0%;
      height:50%;
      float:right;
      position:absolute;
      z-index: 1;
      overflow-y:hidden;
      overflow-x:hidden;
      transition-duration: $navSpeed;

      .nav-content{
        width:89%;
        height:85%;
        position: absolute;
        display: grid;
        place-items:center;
        top:$cubeShadowHeight *2 + 0vw;
        right:$cubeShadowHeight *2 + 0vw;
        background-color: $grey;
        transition-duration: $navSpeed;
      }
    }
    .one-nav-block:hover{
      padding-bottom:-$cubeShadowHeight +0vw;
    }
    .one-nav-block:hover .right-bar{
      width:$cubeShadowHeight +0vw;
    }
    .one-nav-block:hover .top-bar{
      height:$cubeShadowHeight +0vw;
    }
    .one-nav-block:hover .nav-content{
      top:$cubeShadowHeight + 0vw;
      right:$cubeShadowHeight + 0vw;
    }

    .right-bar{
      width:$cubeShadowHeight *2 + 0vw;
      height:100%;
      margin-top:-$cubeShadowHeight *2 + 0vw;
      position:relative;
      z-index: -1;
      background: linear-gradient(-45deg, transparent $cubeShadowHeight + $cubeShadowHeight/3 + 0vw, $lightBlue $cubeShadowHeight + $cubeShadowHeight/3 +0vw);
      float:right;
      transition-duration:$navSpeed;

      &::before{
        content:"";
        position: absolute;
        top:0;
        border-left: $midBlue;
        border-top: $midBlue;
        border-bottom: $lightBlue;
        border-right: $lightBlue;
        @include corner(left);
      }

      &::after{
        content:"";
        position: absolute;
        bottom: 0;
        border-left: $lightBlue;
        border-top: $lightBlue;
        border-bottom: transparent;
        border-right: transparent;
        @include corner(left);
      }
    }
    .top-bar{
      width:100%;
      height:$cubeShadowHeight *2 + 0vw;
      position: relative;
      left:0;
      z-index: -1;
      background: linear-gradient(135deg, transparent $cubeShadowHeight + $cubeShadowHeight/3 + 0vw, $midBlue $cubeShadowHeight + $cubeShadowHeight/3 +0vw);
      float:right;
      transition-duration: $navSpeed;
    }
    .left{
      z-index: 1;
      margin-top:$cubeHeight /2;
      left:-.5vw;
    }
    .right{
      z-index: 1;
      margin-top:$cubeHeight /2;
      right:0;
      }
    .top{
      margin-left: 22.5%;
      margin-top:$cubeShadowHeight *1.8 + 0vw;
      z-index: 2;
    }
  }
}


.divider {
  width: 100%;
  height: $cubeHeight;
  background-color: $grey;
  float: left;

  .divider-section{
    width:$cubeWidth -$cubeShadowHeight;
    height:100%;
    display: grid;
    float: left;
    place-items: center;

    P{
      text-align: center;
      padding-left: 5%;
      padding-right: 5%;
    }
    h2{
      color:white;
      //text-decoration: line-through;
      position: relative;
      &::before{
        content:"";
        width:100%;
        height:35px;
        margin-bottom:-50px;
        float: left;
        background-color: black;

      }
      &::after{
        content:"";
        width:110%;
        margin-left: -5%;
        height:35px;
        margin-top:-40px;
        float: left;
        border-top:3px solid black;
        border-bottom: 3px solid black;
      }
    }
  }
  .colored-divider{
    //box-sizing: border-box;
    //border-top: 2px solid black;
    background-color: $midBlue;
    }
    .light-content-shadow{
    width: $cubeShadowHeight*2 + 0%;
    height: $cubeHeight -$cubeShadowHeight*2;
    background-color: $lightBlue;
    float: left;
    &::after{
      content:"";
      margin-top:$cubeHeight -$cubeShadowHeight*2;
      border-left: $lightBlue;
      border-top: $lightBlue;
      border-bottom: $darkBlue;
      border-right: $darkBlue;
      @include corner(left);
     }
  }
  .dark-content-shadow{
    width: $cubeShadowHeight*2 + 0%;
    height: $cubeHeight -$cubeShadowHeight*2;
    background-color: $darkBlue;
    float: left;
    &::after{
      content:"";
      margin-top:$cubeHeight -$cubeShadowHeight*2;
      border-left: $darkBlue;
      border-top: $darkBlue;
      border-bottom: white;
      border-right: white;
      @include corner(left);
     }
  }
}

.white-between {
  width: 100%;
  height: 70px;
  //background: repeating-linear-gradient(-45deg, $grey, $grey 10px, white 10px, white 20px);
  padding-top: 40px;
  float: left;
}

.skills {
  width: 100%;
  background-color: $grey;
  padding-top: 40px;
  float: left;

  .left-skills {
    width: 50%;
    float: left;
  }

  .right-skills {
    width: 50%;
    float: left;
  }

  .explanation-container {
    width: 100%;
    height: 20px;

    p {
      margin: 0;
      padding: 0;
    }

    .explanation {
      width: 50%;
      height: 100%;
      float: right;
    }
  }

  .one-skill {
    width: 100%;
    height: 70px;

    .skill-name {
      width: 50%;
      float: left;
      text-align: center;

      p {
        margin-top: 25px;
      }
    }

    .white-oval {
      width: 90%;
      height: 10px;
      margin-left: 5%;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
      background-color: white;
    }

    .midBlue {
      background-color: $midBlue;
    }

    .darkBlue {
      background-color: $darkBlue;
    }

    .skill-proficiency {
      width: 50%;
      height: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      float: right;
    }

    .proficiency-bar {
      height: 10px;
      margin-left: -5px;
      border-radius: 10px;
      overflow: hidden;
      transition-property: width;
    }
  }
}

.cloud-class {
  width: 100%;
  height: 700px;
  background-color: $midBlue;
  float: left;

  .sun {
    width: 30vw;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
    right: 5%;
    margin-top: 20px;
    position: absolute;
    background-color: $sun;
    border-radius: 50%;
  }

  .the-cloud-greying {
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: 0;
    opacity: 0.6;
    background-image: linear-gradient($midBlue , white, $lightBlue, $midBlue, $darkBlue);
  }

  .cloud {
    margin-top: 50px;
    transform: rotateZ(180deg);

    .leftcloud {
      display: inline-block;
      height: 60%;
      width: 20%;
      margin-left: -2%;
      background-color: $grey;
      border-radius: 22% 51% 100% 0 / 0 33% 67% 34%;
      float: left;
      box-shadow: -6px 6px rgb(217, 226, 233);
    }

    .midcloud {
      display: inline-block;
      height: 100%;
      width: 55%;
      background-color: $grey;
      position: relative;
      z-index: 2;
      border-radius: 0 0 100% 100% / 0 0 100% 90%;
      float: left;
    }

    .rightcloud {
      display: inline-block;
      height: 65%;
      width: 25%;
      margin-right: -2%;
      float: left;
      background-color: $grey;
      border-radius: 73% 0 0 100% / 57% 31% 56% 84%;
      float: left;
      box-shadow: 15px 7px rgb(217, 226, 233);
    }
  }
  $cloudPos: absolute;
  $moveCloudsdown: 10px;
  $allCloudSize: 10vw;
  $maxCloudSize: 100px;
  @mixin size($size) {
    height: $allCloudSize*$size/5;
    width: $allCloudSize*3*$size/5;
    max-height: $maxCloudSize*$size/5;
    max-width: $maxCloudSize*3*$size/5;
    min-height: $maxCloudSize*$size/7/1.5;
    min-width: $maxCloudSize*3*$size/7/1.5;
  }

  .biggest-cloud {
    @include size(5);
    margin-top: $moveCloudsdown + 150px;
    position: $cloudPos;
    z-index: 5;
  }

  .big-cloud {
    @include size(4);
    margin-top: $moveCloudsdown + 70px;
    position: $cloudPos;
    z-index: 3;
  }

  .mid-cloud {
    @include size(3);
    margin-top: $moveCloudsdown + 130px;
    position: $cloudPos;
    z-index: 2;
  }

  .small-cloud {
    @include size(2);
    position: $cloudPos;
    margin-top: $moveCloudsdown + 130px;
    z-index: 1;
  }

  .mountain {
    height: 100%;
    position: relative;
    overflow: hidden;
    @mixin snow() {
      float: right;
      background-color: white;
    }

    .mountain-shadow {
      position: absolute;
      float: right;
      width: 100%;
      height: 100%;
      opacity: 0.16;
      background-image: linear-gradient(to top,$grey 0%, $grey 80%, grey 95%, black 100%);
    }

    .mountain-sun {
      position: absolute;
      float: right;
      width: 100%;
      height: 100%;
      opacity: 0.08;
      background-image: linear-gradient(to right, transparent 85%, $sun 100%);
    }

    .right-mountain {
      position: absolute;
      z-index: 3;
      background-image: linear-gradient(.75turn,$grey, $lightBlue, $midBlue, $darkBlue);
      bottom: -17vw;
      margin-left: 200px;
      width: 50vw;
      height: 41.5vw;
      border-top-right-radius: 75px;
      overflow-y: hidden;
      //  opacity:0;
      transform: rotate(-50deg) skewX(-20deg);

      .right-mountain-top {
        width: 30px;
        height: 140px;
        @include snow();
      }

      .mid-mountain-top {
        width: 80px;
        height: 100px;
        margin-right: -1%;
        @include snow;
      }

      .left-mountain-top {
        width: 30px;
        height: 60px;
        margin-right: -1%;
        @include snow;
      }
    }

    .left-mountain {
      position: absolute;
      z-index: 2;
      background-image: linear-gradient(.75turn,$grey 0%, $lightBlue 10%, $midBlue 30%, $darkBlue);
      bottom: -10.5vw;
      margin-left: 50px;
      width: 40vw;
      height: 31.5vw;
      border-top-right-radius: 75px;
      overflow-y: hidden;
      transform: rotate(-50deg) skewX(-20deg);
    }

    .right-mountain-top {
      width: 20px;
      height: 100px;
      @include snow();
    }

    .mid-mountain-top {
      width: 60px;
      height: 80px;
      margin-right: -2%;
      @include snow;
    }

    .left-mountain-top {
      width: 30px;
      height: 50px;
      margin-right: -2%;
      @include snow;
    }
  }
  @mixin reflection1() {
    background-image: linear-gradient($lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue);
  }
  @mixin reflection2() {
    background-image: linear-gradient($lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue);
  }
  @mixin reflection3() {
    background-image: linear-gradient($midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue);
  }

  .water {
    width: 100%;
    height: 100px;
    margin-top: -100px;
    position: absolute;
    overflow-y: hidden;
    @include reflection1;
    border-top: 40px linear-gradient(to bottom, $midBlue, $lightBlue);
    animation: waterReflection 0.45s infinite;
    @keyframes waterReflection {
      33% {
        @include reflection2
      }

      66% {
        @include reflection3
      }
    }

    .water-transition {
      position: absolute;
      bottom: -50%;
      opacity: 0.8;
      z-index: 5;
      height: 100%;
      width: 100%;
      @include reflection1;
      border-top: 40px linear-gradient(to bottom, $midBlue, $lightBlue);
      animation: waterReflection 0.45s infinite;
      @keyframes waterReflection {
        33% {
          @include reflection2
        }

        66% {
          @include reflection3
        }
      }
    }

    .reflection {
      height: 30%;
      opacity: 0.2;
      right: 10%;
      margin-top: 20px;
      background-color: none;
      box-shadow: 10px 0 8px 8px $sun;
      transform: skew(-50deg);
      animation: sunReflection 2s infinite;
      animation-timing-function: ease-in-out;
    }
    @keyframes sunReflection {
      50% {
        transform: skew(-40deg);
        right: 12%;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 550px;
  background-image: linear-gradient($lightBlue, $darkBlue);
  float: left;
  filter:url(#water-reflection-engine);
  overflow-y: hidden;
  overflow-x: hidden;

  .left-contact {
    width: 40%;
    margin-top: 150px;
    margin-left: 10%;
    float: left;

    h3 {
      text-align: left;
    }

    p {
      margin-top: 10px;
    }
  }

  .right-contact {
    width: 50%;
    padding-top: 50px;
    float: right;

    h2 {
      text-align: left;
      margin-left: -50px;
    }
  }
  .contact-form {
    width: 95%;
    height: 350px;
    margin-top: 10px;
    //$midblue but transparent
    background-color:rgba($midBlue, .9);
    border: 4px solid white;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;
    label{
      p{
        text-align: left;
        font-size: 15px;
        margin:0;
        margin-top:6px;
        margin-left: 5%;
      }
    }
    @mixin contactFeilds() {
      width: 90%;
      font-family: Lato;
      font-weight: 500;
      font-size: 15px;
      border-radius: 10px;
      margin-top: 6px;
      margin-left: 5%;
      margin-right: 5%;
      border: 0;
    }

    .input {
      height: 25px;
      @include contactFeilds();
    }

    .text-box {
      opacity: 1;
      height: 100px;
      @include contactFeilds();
    }

    .my-button {
      width: 90%;
      height: 30px;
      background-color: $lightBlue;
      margin-top: 20px;
      font-size: 15px;
      font-family: 'Raleway', sans-serif;
      border-radius: 10px;
      border: 0;
    }
  }

  #contact-line2 {
    margin-left: 80px;
  }

  .fish {

    &:nth-child(even) {
      transform: scaleX(-1);
    }

    .fish-bod {
      width: 100%;
      height: 100%;
      float: right;
      background-image: linear-gradient(to bottom left, $lightBlue, $lightBlue, $midBlue, $lightBlue, $midBlue, $lightBlue, $midBlue);
      border-radius: 90% 9% 100% 0 / 77% 12% 82% 100%;
      transform: rotate(45deg);
      animation: fishSwim 2s infinite ease-in-out;
      //top fish fin
      &::before {
        content: "";
        width: 70%;
        height: 30%;
        margin-top: 15%;
        margin-left: -25%;
        background-color: $darkBlue;
        float: left;
        transform: rotate(-60deg);
        overflow-y: hidden;
        border-radius: 42% 42% 7% 8% / 100% 100% 23% 21%;
      }
      //fish tail
      &::after {
        content: "";
        width: 40%;
        height: 80%;
        background-color: $darkBlue;
        float: right;
        margin-top: -10%;
        margin-right: 80%;
        border-radius: 24% 100% 100% 24% / 100% 70% 67% 100%;
        transform: rotate(-50deg);
        overflow-y: hidden;
        animation: tail 4s infinite ease-in-out;
      }
      @keyframes tail{
        33%{}
      }

      .fish-fin {
        width: 50%;
        height: 30%;
        background-color: $darkBlue;
        float: left;
        margin-top: 0;
        margin-left: 35%;
        transform: rotate(-45deg);
        border-radius: 30% 63% 90% 13% / 42% 40% 54% 22%;
        //gills
        &::before {
          content: "";
          float: left;
          width: 50%;
          height: 5%;
          margin-left: 80%;
          margin-top: 5%;
          border-radius: 50%;
          transform: rotate(-90deg);
          background-color: black;
          animation: breathing 4s infinite ease-in-out;
        }

        &::after {
          content: "";
          float: left;
          width: 60%;
          height: 5%;
          margin-left: 85%;
          margin-top: -5%;
          border-radius: 50%;
          transform: rotate(-90deg);
          background-color: black;
          animation: breathing 4s infinite ease-in-out;
        }
        @keyframes breathing{
          50%{width: 65%;}
        }

      }

      .fish-eye {
        float: right;
        width: 11%;
        height: 11%;
        margin-right: 20%;
        margin-top: 5%;
        border-radius: 50%;
        transform: rotate(-45deg);
        background-color: $darkBlue;

        &::before {
          content: "";
          float: right;
          width: 60%;
          height: 60%;
          margin-right: 20%;
          margin-top: 20%;
          border-radius: 50%;
          background-color: black;
        }

        &::after {
          content: "";
          float: right;
          width: 20%;
          height: 20%;
          margin-right: 30%;
          margin-top: -50%;
          border-radius: 50%;
          background-color: white;
        }
      }
    }
    @keyframes fishSwim {
      25% {transform: rotate(47.5deg);}
      50% {transform: rotate(50deg);}
      75% {transform: rotate(47.5deg);}
    }
  }

  .big-fish {
    position:absolute;
    z-index: -1;
    width: 8vw;
    height: 8vw;
    min-width: 50px;
    min-height: 50px;
    max-width: 80px;
    max-height: 80px;
  }

  .mid-fish {
    position:absolute;
    z-index: -2;
    width: 5vw;
    height: 5vw;
    min-width: 30px;
    min-height: 30px;
    max-width: 60px;
    max-height: 60px;
  }

  .small-fish {
    position:absolute;
    z-index: -3;
    width: 3vw;
    height: 3vw;
    min-width: 20px;
    min-height: 20px;
    max-width: 40px;
    max-height: 40px;
  }
}
@media (min-width:1500px) {
  .cloud-class {
    .mountain {
      .right-mountain {
        margin-left: 20%;
        bottom: -250px;
        width: 700px;
        height: 580px;
      }

      .left-mountain {
        margin-left: 5%;
        bottom: -200px;
        width: 550px;
        height: 480px;
      }
    }
  }
}
@media (max-width:800px) {
  h1 {
    font-size: 40px;
  }

  .cube {
    .cube-content {
      margin-top: -$cubeHeight/1.1;
    }
  }

  .skills {
    .left-skills {
      width: 100%;
    }

    .right-skills {
      width: 100%;
      margin-top: 40px;
    }
  }

  .cloud-class {
    .mountain {
      .right-mountain {
        margin-left: 20%;
        bottom: -120px;
        width: 400px;
        height: 340px;
      }

      .left-mountain {
        margin-left: 5%;
        bottom: -100px;
        width: 350px;
        height: 290px;
      }
    }
  }
}
@media (max-width:600px) {
  h1 {
    font-size: 35px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .cloud-class {
    .sun {
      display: none;
    }

    .mountain {
      .right-mountain {
        margin-left: 10%;
      }

      .left-mountain {
        margin-left: -20%;
      }
    }
  }

  .footer {
    height: 720px;

    .right-contact {
      width: 100%;

      h2 {
        text-align: left;
        margin-left: 20px;
        margin-bottom: 40px;
      }

      .contact-form {
        width: 90%;
        margin-left: 5%;
      }
    }

    .left-contact {
      width: 100%;
      margin-top: 50px;
      margin-left: 0;
      text-align: center;

      h3 {
        text-align: center;
      }
    }
  }
}
@media (max-width:400px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 23px;
  }
}
