$grey : #f7fbfc;
$lightBlue : #d6e6f2;
$midBlue : #b9d7ea;
$darkBlue : #769fcd;


body{
  width:100%;
  background-color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
h1, h2, h3{
  text-align: center;
  font-family: Montserrat;
  margin:0;
  padding:0;
}
h1{
  font-size: 50px;
  font-weight:bolder;
}
h2{
  font-size: 40px;
  font-weight: 750;
}
h3{
  font-size: 25px;
  font-weight: 750;
}
p{
  font-size: 20px;
  font-family: Lato;
}
/*begining of cube*/
.cube{
  width:55vw;
  height:600px;
  background-color: $lightBlue;

  @mixin corner($floatVar){
    border-style: solid;
    border-width:3em 3em;
    float:$floatVar;
  }
  .top-left-corner{
    border-left:white;
    border-top:white;
    border-bottom: $midBlue;
    border-right: $midBlue;
    @include corner(left);
  }
  .bottom-left-corner{
    border-left:$midBlue;
    border-top: $midBlue;
    border-bottom: $darkBlue;
    border-right: $darkBlue;
    @include corner(left);
  }
  .bottom-right-corner{
    border-left:$darkBlue;
    border-top: $darkBlue;
    border-bottom: white;
    border-right: white;
    @include corner(right);
  }
  .left-bar{
    background-color: $midBlue;
    height:600px;
    width:6em;
  }
  .cube-content{
    text-align: center;
    width: 95%;
    height:400px;
    margin-top:-400px;
  }
  .title-first{
  }
  .bottom-bar{
    width:100%;
    height: 6em;
    background-color: $darkBlue;
  }
}
/*end of cube*/
.right-of-cube{
    width:45%;
    height: 700px;
    background-color: white;
    float: right;
    padding-left: 3px;
}
.top-grey{
  width:100%;
  height: 600px;
  background-color:$grey ;
  float: right;
}
.navigation{
  width:100%;
  height: 200px;
  background-color: white ;
  float: right;
}

.divider{
  width:100%;
  height: 200px;
  background-color:$grey;
  float:left;
}
.white-between{
  width: 100%;
  height:100px;
  background: repeating-linear-gradient(
  -45deg,
 $grey,
 $grey 10px,
  white 10px,
  white 20px
);
  padding-top:40px;
  float:left;
}



.skills{
  width:100%;
  background-color:$grey;
  padding-top: 40px;
  float:left;

  .left-skills{
    width:50%;
    float: left;
  }
  .right-skills{
    width:50%;
    float: left;
  }

  .one-skill{
    width:100%;
    height:70px;

    .skill-name{
      width:40%;
      float:left;
      text-align: center;
    }
    .white-oval{
      width:90%;
      height:10px;
      margin-left: 5%;
      padding-top: 10px;
      padding-bottom:10px;
      border-radius: 10px;
      background-color:white;
    }
    .midBlue{
      background-color: $midBlue;
    }
    .darkBlue{
      background-color: $darkBlue;
    }
    .skill-proficiency{
      width:50%;
      height:30px;
      padding-top:20px;
      padding-bottom:20px;
      float:right;

    }
    .proficiency-bar{
      height:10px;
      margin-left: -5px;
      border-radius: 10px;
      overflow: hidden;
      transition-property: width;
    }
  }
}



.cloud-class{
  width:100%;
  height:700px;
  background-color: $midBlue;
  float:left;
  background-image: linear-gradient($midBlue, $midBlue, $darkBlue);

  .the-greying{
    width:100%;
    height: 200px;
    position: absolute;
    z-index: 0;
    opacity: .4;
    background-image: linear-gradient($midBlue, white, $midBlue);
  }

  .cloud{
    margin-top: 50px;
    transform: rotateZ(180deg);

    .leftcloud{
      display: inline-block;
      height:60%;
      width: 20%;
      margin-left: -2%;
      background-color: $grey;
      border-radius: 22% 51% 100% 0% / 0% 33% 67% 34%;
      float: left;
      box-shadow: -6px 6px rgb(217, 226, 233);
    }
    .midcloud{
      display: inline-block;
      height:100%;
      width: 55%;
      background-color: $grey;
      position:relative;
      z-index: 2;
      border-radius: 0% 0% 100% 100% / 0% 0% 100% 90%;
      float: left;
    }
    .rightcloud{
      display: inline-block;
      height:65%;
      width:25%;
      margin-right: -2%;
      float: left;
      background-color: $grey;
      border-radius: 73% 0% 0% 100% / 57% 31% 56% 84%;
      float: left;
      box-shadow: 15px 7px rgb(217, 226, 233);
    }
  }
  $cloudPos : absolute;
  $moveCloudsdown: 0px;
  .biggest-cloud{
    height:100px;
    margin-top: $moveCloudsdown + 150px;
    position: $cloudPos;
    z-index: 4;
  }
  .big-cloud{
    height:80px;
    width:250px;
    margin-top: $moveCloudsdown + 70px;
    position: $cloudPos;
    z-index: 3;
  }
  .mid-cloud{
    height:50px;
    width:150px;
    margin-top: $moveCloudsdown + 130px;
    position: $cloudPos;
    z-index: 2;
  }
  .small-cloud{
    height:20px;
    width:70px;
    position: $cloudPos;
    margin-top: $moveCloudsdown + 130px;
    z-index: 1;
  }

  .mountain{
    width:100%;
    height: 100%;
    position: relative;
    overflow:hidden;

    @mixin snow(){
      float:right;
      background-color: white;
    }

    .right-mountain{
      position: absolute;
      z-index: 3;
      background-image: linear-gradient(white, $lightBlue,  $midBlue, $darkBlue);
      margin-top:300px;
      width:750px;
      height:750px;
      border-top-right-radius: 75px;
      overflow-y:hidden;
      transform: rotate(-50deg) skewX(-20deg);
      border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);

      .right-mountain-top{
        width:30px;
        height:140px;
        @include snow();
      }
      .mid-mountain-top{
        width:80px;
        height:120px;
        @include snow;
      }
      .left-mountain-top{
        width:30px;
        height:60px;
        @include snow;
      }
    }
    .left-mountain{
      position: absolute;
      background-image: linear-gradient(white, $lightBlue);
      margin-top:400px;
      margin-left: -350px;
      width:700px;
      height:150px;
      border-top-right-radius: 75px;
      overflow-y:hidden;
      transform: rotate(-50deg)  skewX(-20deg);
    }
    .right-mountain-top{
      width:20px;
      height:100px;
      @include snow();
    }
    .mid-mountain-top{
      width:60px;
      height:80px;
      @include snow;
    }
    .left-mountain-top{
      width:20px;
      height:50px;
      @include snow;
    }
  }
}



.footer{
  width:100%;
  height:550px;
  background-color: $darkBlue;
  float:left;

  .contact-form-head{
    width:50%;
    margin-left:6em;
    padding-top:50px;
    float:left;
  }
  .contact-form{
    width:70%;
    height:350px;
    margin-top: 10px;
    margin-left:50%;
    background-color: $midBlue;
    border-radius: 20px;
    text-align: center;
    float:left;
    padding-bottom: 20px;

    @mixin contactFeilds(){
      width:90%;
      font-family: Lato;
      font-weight: 500;
      font-size: 10px;
      border-radius: 10px;
      margin-top:30px;
      margin-left: 5%;
      margin-right: 5%;
      border:0px;
    }
    .input{
      height:25px;
      @include contactFeilds();
    }
    .text-box{
      height:100px;
      @include contactFeilds();
    }
    .my-button{
      width: 90%;
      height: 30px;
      background-color: $lightBlue;
      margin-top: 20px;
      font-family: Lato;
      font-weight: 500;
      border-radius: 10px;
      border:0px;
        }
  }
}



/*navigation animation*/
:root {
	--underline-height: .4em;
	--transition-duration : .4s;
}
nav {
  font-family: Lato;
  font-weight: 500;
	position: relative;
	white-space: nowrap;
	padding: var(--underline-height) 0;
	margin: 2em 0;
}
.underline {
	display: block;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	height: var(--underline-height);
	width: 25%;
	background: black;
	pointer-events: none;
	mix-blend-mode: multiply;
	transition: transform var(--transition-duration) ease-in-out;
	&:nth-child(1) {
		transition: calc(var(--transition-duration) * .8);
	}
	&:nth-child(2) {
		transition: calc(var(--transition-duration) * 1.2);
	}
	&:nth-child(3) {
		background: magenta;
	}
}
a {
	display: inline-block;
	z-index: 10;
	width: 25%;
	padding: 1em 0;
	text-align: center;
	cursor: pointer;
}
nav.black {
	.underline {
		background: #222;
		border-radius: .25em;
		height: calc(var(--underline-height) / 2);
		mix-blend-mode: initial;
	}
}
